body{
    margin: 0;
    /* background-c:olor: black; */
}
h1{
    color: blue;
    text-align: center;
    font-weight: bold;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
}

header img {
    width: 15vw; 
    margin-right: 10px;
    padding: 5px;
}

.menu a{
    text-decoration: none;
    padding: 10px;
    color: white;
    font-size: 12pt;
    margin-left: 15px;
    border-radius: 10px;
    

}

.menu a:hover {
    background-color: black;
    border-bottom: solid 3px cyan;
    /* font-weight: bold; */

}

aside{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text h2, .text p {
    padding: 10px;
    margin 20px 10px 0px 10px;
    color: blue;
}

.receita {
    font-size: 11pt;
    line-height: 20px;
    letter-spacing: 1px;
    margin-left: 15px;
}
.interatividade{
    display: flex;
    

}